body {
    background-color: rgb(230, 203, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}

#create-area {
    margin-top: 7em;
    margin-bottom: 4em;
}

.complete-task {
    color: green;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    background-color: indigo;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
    background-color: indigo;
    color: white;
    text-align: center;
    margin-bottom: 5em;
}

#task-input {
    margin-bottom: 1em;
}